<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Amenazas</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/amenazasApp.js"></script>
	<script src="js/tableroController.js"></script>
</head>
<body ng-app="AmenazasApp" ng-cloak>
	<div class="container" ng-controller="TableroCtrl as ctrl">
		<div class="container size-tablero">
			<form>
				<div class="form-group">
					<label for="sizeSelect" class="col-xs-2 control-label">Tamaño del tablero</label>
					<div class="col-xs-2">
						<select id="sizeSelect"
								class="form-control" 
								ng-change="ctrl.createTablero()"
								ng-model="ctrl.size_tablero"
								ng-options="value as value for value in ctrl.available_sizes">
						</select>
					</div>
					<h3>
					<label for="piezaSelect" class="col-xs-2 control-label col-xs-offset-2">Pieza</label>
						<i
							id="piezaSelect"
							class="glyphicon"
							ng-class='{
								"glyphicon-knight": ctrl.pieza_actual == 1,
								"glyphicon-queen": ctrl.pieza_actual == 2
							}'
							ng-click="ctrl.togglePieza()">
						</i>
					</h3>
				</div>
			</form>
		</div>
		<div class="tablero well">
			<div class="row fila-tablero" ng-repeat="fila in ctrl.tablero track by $index">
				<div class="col-xs-1 columna-tablero" ng-repeat="casilla in fila track by $index">
					<i ng-class='{
							"glyphicon": casilla,
							"glyphicon-knight": casilla == 1,
							"glyphicon-queen": casilla == 2,
							"fa": !casilla,
							"fa-stop": !casilla,
							"fa-lg": !casilla
						}'
						ng-click="ctrl.toggleCasilla(fila, casilla, $index)"></i>
				</div>
			</div>
		</div>

	</div>
</body>
</html>