<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Casillas Amenazadas 2 - by hguilla</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/app-style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="AmenazasApp"  ng-controller="TableroCtrl as ctrl" ng-cloak>
	<div class="controles">
		<form>
			<div>
				<label for="tamanio">Tamaño</label>
				<input
				type="number"
				name="tamanio"
				ng-change="ctrl.createTablero()"
				ng-model="ctrl.size_tablero"
				min="3">
			</div>
			<div>
				<label for="pieza">Pieza</label>
				<span
				name="pieza"
				ng-click="ctrl.togglePieza()">
					{{ ctrl.pieza_actual }}
				</span>
			</div>
		</form>
	</div>
	<div class="tablero">
		<div
		class="fila"
		ng-repeat="fila in ctrl.tablero track by $index">
			<div
			class="casilla"
			ng-repeat="casilla in fila track by $index"
			ng-click="ctrl.toggleCasilla(fila, casilla, $index)">
				{{ casilla }}
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/amenazasApp.js"></script>
	<script src="js/tableroController.js"></script>
	<footer>
		<div>
			Para la version anterior ir a: <a href="older-versions/1.0/index.html">1.0</a>
		</div>
		<div>
			<h6>App by <a href="https://github.com/hguilla">hguilla</a></h6>
		</div>
	</footer>
</body>
</html>